
@font-face {
  font-family: lato;
  src: url('../fonts/lato-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: roboto-slab;
  src: url('../fonts/roboto-slab-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: neuzeit-grotesk;
  src: url('../fonts/neuzeit-grotesk-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: lato;
  src: url('../fonts/lato-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: neuzeit-grotesk;
  src: url('../fonts/neuzeit-grotesk-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Pfizer Tomorrow";
  src: url('../fonts/pfizer-tomorrow-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
